In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
dataset = pd.read_csv('/content/drive/MyDrive/DataScienceFinalProject/FinalMergedData3.csv')

In [4]:
dataset.head()

,Unnamed: 0,State,City,Population,V_crime,Murder,Rape,Robbery,Aggravated assault,Property crime,...,areaname,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,taxes,total_cost,median_family_income
0,7,SOUTH CAROLINA,DUE WEST,"1,240",0,0.0,0,0,0,18,...,"Abbeville County, SC",2p2c,8148.0,9714.21384,14433.5988,13507.2000,6472.18428,4582.35168,63942.8376,53251.199219
1,17,SOUTH CAROLINA,CALHOUN FALLS,"1,912",14,2.0,0,0,12,31,...,"Abbeville County, SC",2p2c,8148.0,9714.21384,14433.5988,13507.2000,6472.18428,4582.35168,63942.8376,53251.199219
2,27,SOUTH CAROLINA,ABBEVILLE,"5,017",47,9.0,4,4,30,123,...,"Abbeville County, SC",2p2c,8148.0,9714.21384,14433.5988,13507.2000,6472.18428,4582.35168,63942.8376,53251.199219
3,35,LOUISIANA,CHURCH POINT,"4,424",39,1.0,1,0,37,78,...,"Acadia Parish, LA HUD Metro FMR Area",2p2c,8700.0,9114.57060,13866.2988,18289.0836,6454.92192,7041.48408,72526.2192,58169.695312
4,45,LOUISIANA,CROWLEY,"12,621",158,1.0,8,14,135,528,...,"Acadia Parish, LA HUD Metro FMR Area",2p2c,8700.0,9114.57060,13866.2988,18289.0836,6454.92192,7041.48408,72526.2192,58169.695312

In [5]:
dataset.shape

(6242, 34)

In [6]:
dataset.columns.unique()

Index(['Unnamed: 0', 'State', 'City', 'Population', 'V_crime', 'Murder',
       'Rape', 'Robbery', 'Aggravated assault', 'Property crime', 'Burglary',
       'Larceny-theft', 'Motor vehicle theft', 'city', 'city_ascii',
       'state_name', 'county_fips', 'county_name', 'population', 'density',
       'source', 'incorporated', 'ranking', 'isMetro', 'areaname',
       'family_member_count', 'housing_cost', 'food_cost',
       'transportation_cost', 'healthcare_cost', 'other_necessities_cost',
       'taxes', 'total_cost', 'median_family_income'],
      dtype='object')

In [7]:
columns_to_drop = ['Unnamed: 0','city','city_ascii','state_name','county_fips']
dataset = dataset.drop(columns=columns_to_drop)
dataset.shape

(6242, 29)

In [8]:
dataset.columns.unique()

Index(['State', 'City', 'Population', 'V_crime', 'Murder', 'Rape', 'Robbery',
       'Aggravated assault', 'Property crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'county_name', 'population', 'density', 'source',
       'incorporated', 'ranking', 'isMetro', 'areaname', 'family_member_count',
       'housing_cost', 'food_cost', 'transportation_cost', 'healthcare_cost',
       'other_necessities_cost', 'taxes', 'total_cost',
       'median_family_income'],
      dtype='object')

In [9]:
def categorize_cost(housing_cost):
    if housing_cost <= dataset['housing_cost'].quantile(0.33):
        return 'Low'
    elif housing_cost <= dataset['housing_cost'].quantile(0.66):
        return 'Medium'
    else:
        return 'High'

dataset['cost_category'] = dataset['housing_cost'].apply(categorize_cost)

# Print the first few rows to verify
print(dataset.head())

            State           City Population V_crime  Murder Rape Robbery  \
0  SOUTH CAROLINA       DUE WEST      1,240       0     0.0    0       0
1  SOUTH CAROLINA  CALHOUN FALLS      1,912      14     2.0    0       0
2  SOUTH CAROLINA      ABBEVILLE      5,017      47     9.0    4       4
3       LOUISIANA   CHURCH POINT      4,424      39     1.0    1       0
4       LOUISIANA        CROWLEY     12,621     158     1.0    8      14

  Aggravated assault Property crime Burglary  ... family_member_count  \
0                  0             18        3  ...                2p2c
1                 12             31       11  ...                2p2c
2                 30            123       29  ...                2p2c
3                 37             78       18  ...                2p2c
4                135            528      132  ...                2p2c

  housing_cost   food_cost  transportation_cost  healthcare_cost  \
0       8148.0  9714.21384           14433.5988       13507.2000
1       8148.0  9714.21384           14433.5988       13507.2000
2       8148.0  9714.21384           14433.5988       13507.2000
3       8700.0  9114.57060           13866.2988       18289.0836
4       8700.0  9114.57060           13866.2988       18289.0836

  other_necessities_cost       taxes  total_cost  median_family_income  \
0             6472.18428  4582.35168  63942.8376          53251.199219
1             6472.18428  4582.35168  63942.8376          53251.199219
2             6472.18428  4582.35168  63942.8376          53251.199219
3             6454.92192  7041.48408  72526.2192          58169.695312
4             6454.92192  7041.48408  72526.2192          58169.695312

  cost_category
0           Low
1           Low
2           Low
3           Low
4           Low

[5 rows x 30 columns]

In [10]:
dataset.shape

(6242, 30)

In [11]:
dataset['Property crime'].dtype

dtype('O')

In [12]:
dataset['Property crime'] = pd.to_numeric(dataset['Property crime'], errors='coerce')

In [13]:
dataset.shape

(6242, 30)

In [14]:
def categorize_property_crime(property_crime):
    if property_crime <= dataset['Property crime'].quantile(0.33):
        return 'Low Crime'
    elif property_crime <= dataset['Property crime'].quantile(0.66):
        return 'Medium Crime'
    else:
        return 'High Crime'

# Apply the function to create the new column
dataset['property_crime_category'] = dataset['Property crime'].apply(categorize_property_crime)

# Print the first few rows to verify
print(dataset.head())

            State           City Population V_crime  Murder Rape Robbery  \
0  SOUTH CAROLINA       DUE WEST      1,240       0     0.0    0       0
1  SOUTH CAROLINA  CALHOUN FALLS      1,912      14     2.0    0       0
2  SOUTH CAROLINA      ABBEVILLE      5,017      47     9.0    4       4
3       LOUISIANA   CHURCH POINT      4,424      39     1.0    1       0
4       LOUISIANA        CROWLEY     12,621     158     1.0    8      14

  Aggravated assault  Property crime Burglary  ... housing_cost   food_cost  \
0                  0            18.0        3  ...       8148.0  9714.21384
1                 12            31.0       11  ...       8148.0  9714.21384
2                 30           123.0       29  ...       8148.0  9714.21384
3                 37            78.0       18  ...       8700.0  9114.57060
4                135           528.0      132  ...       8700.0  9114.57060

  transportation_cost  healthcare_cost  other_necessities_cost       taxes  \
0          14433.5988       13507.2000              6472.18428  4582.35168
1          14433.5988       13507.2000              6472.18428  4582.35168
2          14433.5988       13507.2000              6472.18428  4582.35168
3          13866.2988       18289.0836              6454.92192  7041.48408
4          13866.2988       18289.0836              6454.92192  7041.48408

   total_cost  median_family_income  cost_category property_crime_category
0  63942.8376          53251.199219            Low               Low Crime
1  63942.8376          53251.199219            Low            Medium Crime
2  63942.8376          53251.199219            Low            Medium Crime
3  72526.2192          58169.695312            Low            Medium Crime
4  72526.2192          58169.695312            Low              High Crime

[5 rows x 31 columns]

In [15]:
dataset.shape

(6242, 31)

In [16]:
from scipy.stats import chi2_contingency

# Assuming your dataset is stored in a DataFrame called 'dataset'

# Create a contingency table
contingency_table = pd.crosstab(dataset['property_crime_category'], dataset['cost_category'])

# Perform Chi-squared test
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

# Print the results
print("Chi-squared statistic:", chi2)
print("P-value:", p_value)
print("Degrees of freedom:", dof)
print("Expected frequencies table:")
print(expected)

Chi-squared statistic: 451.9325262601026
P-value: 1.6598167143675777e-96
Degrees of freedom: 4
Expected frequencies table:
[[879.06504326 887.82233259 836.11262416]
 [618.01345723 624.17013778 587.816405  ]
 [610.92149952 617.00752964 581.07097084]]

In [18]:
from scipy.stats import ttest_ind

property_crime = dataset['Property crime']
housing_cost = dataset['housing_cost']
# print(property_crime)
# print(housing_cost)

t_statistic, p_value = ttest_ind(property_crime, housing_cost)

print("T-statistic:", t_statistic)
print("P-value:", p_value)

0        18.0
1        31.0
2       123.0
3        78.0
4       528.0
        ...
6237      1.0
6238     19.0
6239     31.0
6240      NaN
6241     41.0
Name: Property crime, Length: 6242, dtype: float64
0        8148.0
1        8148.0
2        8148.0
3        8700.0
4        8700.0
         ...
6237    11124.0
6238    11124.0
6239    11124.0
6240    11124.0
6241     8808.0
Name: housing_cost, Length: 6242, dtype: float64
T-statistic: nan
P-value: nan

In [19]:
import numpy as np

# Check for missing values
property_crime_missing = dataset['Property crime'].isnull().sum()
housing_cost_missing = dataset['housing_cost'].isnull().sum()

print("Missing values in Property crime column:", property_crime_missing)
print("Missing values in Housing cost column:", housing_cost_missing)

# Check for constant values
property_crime_unique = dataset['Property crime'].unique()
housing_cost_unique = dataset['housing_cost'].unique()

print("Number of unique values in Property crime column:", len(property_crime_unique))
print("Number of unique values in Housing cost column:", len(housing_cost_unique))

# Check data type
print("Data type of Property crime column:", dataset['Property crime'].dtype)
print("Data type of Housing cost column:", dataset['housing_cost'].dtype)

# Summary statistics
property_crime_summary = dataset['Property crime'].describe()
housing_cost_summary = dataset['housing_cost'].describe()

print("Summary statistics of Property crime column:")
print(property_crime_summary)

print("Summary statistics of Housing cost column:")
print(housing_cost_summary)

Missing values in Property crime column: 735
Missing values in Housing cost column: 0
Number of unique values in Property crime column: 813
Number of unique values in Housing cost column: 704
Data type of Property crime column: float64
Data type of Housing cost column: float64
Summary statistics of Property crime column:
count    5507.000000
mean      168.513528
std       220.235620
min         0.000000
25%        19.000000
50%        69.000000
75%       232.000000
max       999.000000
Name: Property crime, dtype: float64
Summary statistics of Housing cost column:
count     6242.000000
mean     11943.495245
std       5033.259602
min       6265.986360
25%       8736.000000
50%       9952.324920
75%      13716.000000
max      48028.585200
Name: housing_cost, dtype: float64

In [20]:
property_crime_mean = dataset['Property crime'].mean()
dataset['Property crime'].fillna(property_crime_mean, inplace=True)

In [22]:
from scipy.stats import ttest_ind

property_crime = dataset['Property crime']
housing_cost = dataset['housing_cost']
# print(property_crime)
# print(housing_cost)

t_statistic, p_value = ttest_ind(property_crime, housing_cost)

print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -184.67423824469677
P-value: 0.0